<footer>
    <a href="https://webpages.charlotte.edu/jkeistl3/">UNCC Home Page</a> |
    <a href="https://github.com/JusticeK03">GitHub </a> |
    <a href="https://JusticeK03.github.io">GitHub.io Page</a> | 
    <a href="https://github.com/JusticeK03/JusticeK03.github.io/tree/main/itis3135">GitHub Course Page</a> |
    <a href="https://www.freecodecamp.org/JusticeK">freeCodeCamp</a> |
    <a href="https://www.codecademy.com/profiles/JusticeK">codeAcademy</a> |
    <a href="https://www.linkedin.com/in/justicekeistler/" target="_new">LinkedIn</a>
    <p><i>Gear Up. Go Beyond. Authentic Military Surplus for Every Mission.</i></p>
    <p class="footnote"><strong>Page built by:</strong> <a href="./keistlerandco.com/index.html">Keistler &amp; Co &copy;2024,</a> <a href="https://www.freecodecamp.org/certification/JusticeK/responsive-web-design"><i>Certified in Responsive Web Design</i></a>, <a href="https://www.freecodecamp.org/certification/JusticeK/javascript-algorithms-and-data-structures-v8"><i>Certified in JS</i></a></p>

    <a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
		<img src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!"></a>

		<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
		<img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!"></a>

</footer>